@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary: 217.2 86.1% 54.3%; /* Dodger Blue (#2563eb) */
    --primary-foreground: 0 0% 100%; /* White (#ffffff) */
    --secondary: 210 16.7% 95.7%; /* Light Gray (#f3f4f6) */
    --secondary-foreground: 210 17.5% 19.6%; /* Gunmetal (#1f2937) */
    --background: 0 0% 100%; /* White (#ffffff) */
    --foreground: 0 0% 0%; /* Black (#000000) */
  }

  .dark {
    --primary: 217.2 92.3% 66.5%; /* Sky Blue (#60a5fa) */
    --primary-foreground: 0 0% 0%; /* Black (#000000) */
    --secondary: 210 11.8% 27.8%; /* Charcoal (#374151) */
    --secondary-foreground: 210 16.7% 95.7%; /* Light Gray (#f3f4f6) */
    --background: 210 17.5% 19.6%; /* Gunmetal (#1f2937) */
    --foreground: 0 0% 100%; /* White (#ffffff) */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
